// ==UserScript==
// @name         {{NAME}}
// @namespace    Custom.Automation
// @version      {{VERSION}}
// @description  {{DESCRIPTION}}
// @author       Kenny
// @match        {{MATCH}}
// @updateURL    https://cdn.jsdelivr.net/gh/{{GH_USER}}/{{GH_REPO}}@main/scripts/{{PATH}}/loader.user.js
// @downloadURL  https://cdn.jsdelivr.net/gh/{{GH_USER}}/{{GH_REPO}}@main/scripts/{{PATH}}/loader.user.js
{{EXCLUDES}}
// @run-at       {{RUN_AT}}
{{GRANTS}}
// @require      https://cdn.jsdelivr.net/gh/{{GH_USER}}/{{GH_REPO}}@main/scripts/{{PATH}}/{{FILENAME}}?v={{VERSION}}
// ==/UserScript==