// ==UserScript==
// @name         {{NAME}}
// @namespace    Custom.Automation
// @version      {{VERSION}}
// @description  {{DESCRIPTION}}
// @author       Kenny
// @match        {{MATCH}}
// @updateURL    https://raw.githubusercontent.com/{{GH_USER}}/{{GH_REPO}}/refs/heads/main/scripts/{{PATH}}/loader.user.js
// @downloadURL  https://raw.githubusercontent.com/{{GH_USER}}/{{GH_REPO}}/refs/heads/main/scripts/{{PATH}}/loader.user.js
{{EXCLUDES}}
// @run-at       {{RUN_AT}}
{{GRANTS}}
// @require      https://raw.githubusercontent.com/{{GH_USER}}/{{GH_REPO}}/refs/heads/main/modules/styles.js
// @require      https://raw.githubusercontent.com/{{GH_USER}}/{{GH_REPO}}/refs/heads/main/scripts/{{PATH}}/styles.generated.js?v={{VERSION}}
// @require      https://raw.githubusercontent.com/{{GH_USER}}/{{GH_REPO}}/refs/heads/main/scripts/{{PATH}}/{{FILENAME}}?v={{VERSION}}
// ==/UserScript==